html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.maillink {
    text-decoration: none;
    color: black;
}
  .maillink:hover {
    text-decoration: none;
  }

.menu {
  list-style-type: none;
  left: 35px;
  top: 60px;
  position: fixed;
  font-size: 12px;
}

.menu li a {
  line-height: 1.7;
  color: black;
  text-decoration: none;
}

  .menu:link {
    text-decoration: none;
  }

  .menu:visited {
    text-decoration: none;
  }

.container {
  line-height: 120%; 
  position:absolute;
  top:24%;
  left:24%;
  font-size: 14px;
}

.billede-container {
    left: 75%;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%);
}
