html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.maillink {
    text-decoration: none;
    color: black;
}
  .maillink:hover {
    text-decoration: underline;
    color: blue;
  }

.menu {
  list-style-type: none;
  left: -31px;
  top: 8px;
  position: fixed;
  font-size: 12px;
}

.menu li a {
  line-height: 1.7;
  color: black;
  text-decoration: none;
}

  .menu:link {
    text-decoration: none;
  }

  .menu:visited {
    text-decoration: none;
  }

  .menu a:hover {
  text-decoration: none;
  }

.container {
  line-height: 120%; 
  position:absolute;
  top:120px;
  left:22vw;
  font-size: 14px;
  width:;
}

.picturecontainer {
  position: relative;
  padding-top: 60px;
  margin-left: 22vw;
  width: 43vw;
}

.caption {
    display: block;
    font-size: 10px;
    margin-top: -2px;
    padding-bottom: 6px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  color: blue;
}

.dropbtn:hover {
  text-decoration: underline;
}

.dropdown {
  position: absolute;
  padding-top: 0vw;
  width: ;
  margin: 0 auto;
}

.dropdown-content {
  margin-top: 0vw;
  width: ;
  display: none;
  position: relative;
  overflow: auto;
  z-index: 1;
}


.dropdown-content a {
  display: block;
  padding: ;
  color: black;
}

.show {display: block;}




